<style>

{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color:blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
    }

/* This is for large devices only*/
@media (min-width: 992px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    
        background-color: whitesmoke;
        align-content: center;
        border: 1px solid black;
        padding: 2px 2px 2px 10px;
        margin: 10px;
        height: 175px;
        width: 31%;
        box-sizing: border-box;
        float: left;
    }
    .col-lg-1 {
        width: 8.33%;
    }
    .col-lg-2 {
        width: 16.66%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
        width: 33%;
    }
    .col-lg-5 {
        width: 41.66%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width: 58.33%;
    }
    .col-lg-8 {
        width: 66%;
    }
    .col-lg-9 {
        width: 74.99%;
    }
    .col-lg-10 {
        width: 83.33%;
    }
    .col-lg-11 {
        width: 91.66%;
    }
    .col-lg-12 {
        width: 100%;
    }
    .rook {
        border: 1px solid black;
        background-color: rgb(245, 117, 12);
        position: relative;
        top: 00px;
        right: 00px;
        height: 30px;
        width: 45px;
        float: right;
        padding: 2px; /* Extra padding left to make room for the button */
        line-height: 30px; /* Used to center the text vertically. Use the same value as the height.*/
        }
    .pleng {
        border: 1px solid black;
        background-color: white;
        position: relative;
        top: 00px;
        right: 00px;
        height: 30px;
        width: 50px;
        float: right;
        padding: 2px; /* Extra padding left to make room for the button */
        line-height: 30px; /* Used to center the text vertically. Use the same value as the height.*/
    }
    .maagd {
        border: 1px solid black;
        background-color: rgba(26, 104, 194, 0.795);
        position: relative;
        top: 00px;
        right: 00px;
        height: 30px;
        width: 60px;
        float: right;
        padding: 2px; /* Extra padding left to make room for the button */
        line-height: 30px; /* Used to center the text vertically. Use the same value as the height.*/
    }

}
/* This is for tablet view */
@media (min-width: 768px) and (max-width: 992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    
        background-color: whitesmoke;
        align-content: center;
        border: 1px solid black;
        padding: 2px 2px 2px 10px;
        margin: 10px;
        height: 170px;
        width: 30%;
        box-sizing: border-box;
        float: left;
    } 
    .col-md-1 {
        width: 8.33%;
    }
    .col-md-2 {
        width: 16.66%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 33%;
    }
    .col-md-5 {
        width: 41.66%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width: 58.33%;
    }
    .col-md-8 {
        width: 66%;
    }
    .col-md-9 {
        width: 74.99%;
    }
    .col-md-10 {
        width: 85.53%;
    }
    .col-md-11 {
        width: 91.66%;
    }
    .col-md-12 {
        width: 100%;
    }
    .rook {
        border: 1px solid black;
        background-color: rgb(245, 117, 12);
        position: relative;
        top: 00px;
        right: 00px;
        height: 30px;
        width: 45px;
        float: right;
        padding: 2px; /* Extra padding left to make room for the button */
        line-height: 30px; /* Used to center the text vertically. Use the same value as the height.*/
        }
    .pleng {
        border: 1px solid black;
        background-color: white;
        position: relative;
        top: 00px;
        right: 00px;
        height: 30px;
        width: 50px;
        float: right;
        padding: 2px; /* Extra padding left to make room for the button */
        line-height: 30px; /* Used to center the text vertically. Use the same value as the height.*/
    }
    .maagd {
        border: 1px solid black;
        background-color: rgba(26, 104, 194, 0.795);
        position: relative;
        top: 00px;
        right: 00px;
        height: 30px;
        width: 60px;
        float: right;
        padding: 2px; /* Extra padding left to make room for the button */
        line-height: 30px; /* Used to center the text vertically. Use the same value as the height.*/
    }

}
/* This is for supertinysmall view */
@media (min-width: 50px) and (max-width: 767px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {

        background-color: whitesmoke;
        align-content: center;
        border: 1px solid black;
        padding: 2px 2px 2px 10px;
        margin: 10px;
        height: 175px;
        width: 31%;
        box-sizing: border-box;
        float: left;
    } 
    .col-sm-1 {
        width: 8.33%;
    }
    .col-sm-2 {
        width: 16.66%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-4 {
        width: 33%;
    }
    .col-sm-5 {
        width: 41.66%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-7 {
        width: 58.33%;
    }
    .col-sm-8 {
        width: 66%;
    }
    .col-sm-9 {
        width: 74.99%;
    }
    .col-sm-10 {
        width: 84.33%;
    }
    .col-sm-11 {
        width: 91.66%;
    }
    .col-sm-12 {
        width: 100%;
    }
    .rook {
        border: 1px solid black;
        background-color: rgb(245, 117, 12);
        position: relative;
        top: 00px;
        right: 00px;
        height: 30px;
        width: 45px;
        float: right;
        padding: 0px; /* Extra padding left to make room for the button */
        line-height: 30px; /* Used to center the text vertically. Use the same value as the height.*/
        }
    .pleng {
        border: 1px solid black;
        background-color: white;
        position: relative;
        top: 00px;
        right: 00px;
        height: 30px;
        width: 50px;
        float: right;
        padding: 0px; /* Extra padding left to make room for the button */
        line-height: 30px; /* Used to center the text vertically. Use the same value as the height.*/
    }
    .maagd {
        border: 1px solid black;
        background-color: rgba(26, 104, 194, 0.795);
        position: relative;
        top: 00px;
        right: 00px;
        height: 30px;
        width: 60px;
        float: right;
        padding: 0px; /* Extra padding left to make room for the button */
        line-height: 30px; /* Used to center the text vertically. Use the same value as the height.*/
    }

}

/* a:link, a:visited {
    text-decoration: none;
    color: black;
{

a:hover, a:active {
    background-color: black;
    color: whitesmoke;
    display: block;
    width: 70px;
    text-align: left;
    margin-bottom: 1px;
    border: 1px solid blue;
}

#bg {
width: 5000px;
height: 5000px;
background-image: url("https://clearlydecoded.com/assets/images/posts/2016-02-28-i-went-from-teaching-14-to-14000/thumbnail-750x400.png") no-repeat right center;

}  */

</style>